<img class="headerPlank" src="imgs/plank.png">

<p class="headerText">Contact Us</p>
<a href ="#">
    <img class="bomb" src="imgs/bomb.png">
</a>
<div class="content">
    <div>
        <img class="listPlank contactPadding" src="imgs/plank2.png">
        <p class="accountDetailsBalanceText contactPadding">Phone:</p>
        <p class="accountDetailsBalanceText right contactPadding"><a href="tel:7602189727"><u>760-218-9727</u></a></p>
    </div>
    <div>
        <img class="listPlank contactPadding" src="imgs/plank2.png">
        <p class="accountDetailsBalanceText contactPadding">Email:</p>
        <p class="accountDetailsBalanceText right contactPadding small">acme@gmail.com</p>
    </div>
    <div style="height: 15%;">
        <img id="tallListPlank" class="listPlank contactPadding" src="imgs/plank2.png">
        <p class="accountDetailsBalanceText contactPadding">Address:</p>
        <p class="accountDetailsBalanceText right contactPadding extraSmall">Acme Bank</br>2300 Glen Forest Dr.</br>Richmond, VA 23221</p>
    </div>
</div>