<script src="libs/animation/animation.js"></script>

<form id="logIn" action="#accounts">
    <div>
        <img src="imgs/plank.png" class="headerPlank newest">
    </div>

    </div>
    <img class="newest" src="imgs/card.png" id="card">
    <div>
        </br></br></br>
        <p class="error"> Your Username/Password was incorrect</p>
    </div>
    </div>

    <div>
        <p class="headerText newest">Acme Bank</p>
    </div>
    <input class = "newest" id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input class = "newest" id="password" name="password" type="password" class="form-control" placeholder="Password" required autofocus>
    <button id="signInButton" class="btn btn-lg btn-primary btn-block newest" type="submit">Sign In</button>
</form>

<div id="slideshow" style="z-index: 2002; position: absolute;">
    <div>
        <img
                class="anvil" src="imgs\anvil2.png"
                style="position: fixed; z-index: 4000; width: 68%; height: auto; right: 15.2%; top: 10%;">
    </div>
    <div>
        <img
                class="anvil" src="imgs\anvil.png"
                style="position: fixed; z-index: 4000; width: 68%; height: auto; right: 15.2%; bottom: 5.5%;">

    </div>
</div>

<div>
    <img class="newe" src="imgs\coyote.png"
         style="position: fixed; width: 1%; height: auto; right: 23%; bottom: 8%;">
</div>